


nav ul li a:hover{
    color: azure;
}

.divLogo{
    background-image: url(../img/WhatsApp\ Image1.jpg);
    padding: 100;
}
.nav{
    text-decoration: none;
   background-color: rgb(97, 156, 89);
    padding: 0px;
    list-style: none;
    position: relative;
    margin-top: 0%;
    margin-bottom: 0;
    text-align: center;
   

    
    
}
.nav li{
    list-style: none;
    padding: 10px;
    font-size: 50px;

}